# Python Review #1

Using what you learned in the modules, answer the questions below. Take your time and use all the information in the modules as your guide and resource. This isn't about memorization - this is about practicing skills! Good Luck!

## Module 1 Review

#### COMMENTS

Comments are not executed with the rest of the code when you run the cell. These are notes that give context to the code.

1. Open any book, document, brochure, email around you. Take the first two sentences you find. Write the two sentences in a cell below. Assign one sentence to a variable name (save it as a string) and make the other sentence a comment. Run the cell. 
2. Switch the sentences (the first sentence is now a comment, the second sentence is now the string) and re-run the cell.

In [1]:
line1 = "TurboTax Update: State Return Accepted"
# line2 = "TurboTax Update: Federal Return Accepted"

In [2]:
# line1 = "TurboTax Update: State Return Accepted"
line2 = "TurboTax Update: Federal Return Accepted"

#### DATA TYPES 

There are three data types that we will use continuously - integer, float, string. Each cell below includes one of these three data types. Using a comment, write the type of data in each cell next to the value.

In [ ]:
"Hello" #string

In [ ]:
156 #int

In [ ]:
"W45" #string

In [ ]:
12.567 #float

In [ ]:
"198 Spring Street, San Deigo, CA" #string

In [ ]:
1.87 #float

In [ ]:
0.00000435 #float

In [ ]:
"628" #string

In [ ]:
1.111111114 #float

In [ ]:
4560886543 #int

#### VARIABLES

Variables hold information or a data value. To assign a value to a variable, use a single "=". Variables should be given meaningful names, can start with a letter or underscore (no numbers), and should follow <b>CamelType</b> or <b>snake_type</b> formatting. 

1. Write your birthday in longform (Month Day, Year) and save the value to a variable. Choose an appropriate name. 
2. Write the name of your favorite book. Save the value to a variable. Choose an appropriate name. 
3. Write the number of times you've eaten pizza in the past two weeks (0 can be an answer). Save the value to a variable. Choose an appropriate name. 
4. Write a float value with at least three digits after the decimal point. Save the value to a variable. Choose an appropriate name.
5. Pick two additional sentences from the item referenced in the comments section. Write out the sentences and save them to a variable. Choose an appropriate name.

In [3]:
periBirthday = "March Sixth, 1999"
periRoman = "Piranesi"
pizzaCount = 0
floaty = 3.699
comments1 = "TurboTax Update: State Return Accepted"
comments2 = "TurboTax Update: Federal Return Accepted"

#### PRINT AND TYPE FUNCTIONS

The print function is crucial to your python knowledge. The print() function allows you to return a specific item, statement, word, number, etc. It is used to return (print, output, etc) information. Using all the variables you created in the step above, print each one in an individual cell. 

The type function allows you to return the type of data saved to a specific variable. Use the type() function to determine the type of data stored to each of your variables.

In [5]:
print(periBirthday, periRoman, pizzaCount, floaty, comments1, comments2)

March Sixth, 1999 Piranesi 0 3.699 TurboTax Update: State Return Accepted TurboTax Update: Federal Return Accepted

In [7]:
type(periBirthday)

str

In [8]:
type(periRoman)

str

In [9]:
type(pizzaCount)

int

In [12]:
type(floaty)

float

In [10]:
type(comments1)

str

In [11]:
type(comments2)

str

#### ARITHMETIC OPERATORS

Arithmetic operators allow you to do simple math with Python. Operators include: 

    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division
    
In the cells below, insert any of the above operators to complete the equation. Print the result of the equation.

In [13]:
9 + 2

11

In [14]:
189.0 - 78

111.0

In [15]:
3 * 2

6

In [16]:
3 / 8

0.375

In [18]:
999.0027 % 2736.83

999.0027

In [19]:
488 ** 21

286296647198568771733609157020113746343214564499561381888

In [20]:
11 // 8

1

In [21]:
45 + 9

54

In [22]:
808 - 23

785

In [23]:
4 ** 1

4

In [24]:
0 / 28

0.0

In [25]:
435 % 982

435

In [26]:
6 ** 3

216

In [27]:
1 // 1.5

0.0

In [28]:
65 + 2

67

In [29]:
10 - 9

1

In [30]:
245 * 3

735

In [32]:
33 ** 0

1

In [33]:
9 % 2

1

In [34]:
89 // 78

1

#### COMPOUND OPERATORS

Change the value of a variable and re-assign the new value to the same variable. This method saves you a step; all compound operators follow the same pattern:
    
    variable_a = variable_a + 10 <<<--->>> variable_a += 10
    
variable_a is now equal to the original value of variable_a plus 10. Compound operators include:

    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b
    
Convert all the equations below to use compound operators.

In [42]:
a = 9
a //= 2
print(a)

4

In [43]:
b = 189.0
b += 78
print(b)

267.0

In [45]:
c = 3 
c -= 2
print(c)

1

In [46]:
d = 5
d += 1
print(d)

6

In [47]:
e = 8
e *= 0
print(e)

0

In [48]:
f = 4
f %= 1
print(f)

0

In [49]:
g = 5
g //= 2
print(g)

2

In [50]:
h = 6
h /= 3
print(h)

2.0

In [51]:
i = 9
i *= 2
print(i)

18

In [52]:
j = 10
j -= 1
print(j)

9

In [53]:
k = 5
k **= 4
print(k)

625

In [54]:
l = 8
l -= 2
print(l)

6

In [55]:
m = 10
m += 2
print(m)

12

In [56]:
n = 11
n *= 1.7
print(n)

18.7

In [58]:
o = 9
o -= 3
print(o)

6

In [59]:
p = 7
p **= 4
print(p)

2401

In [60]:
q = 11
q %= 2
print(q)

1

In [61]:
r = 8
r /= 4
print(r)

2.0

In [62]:
s = 5
s *= 5
print(s)

25

In [63]:
t = 7
t %= 5
print(t)

2

In [64]:
u = 8
u **= 5
print(u)

32768

In [65]:
v = 12 
v //= 3
print(v)

4

#### ESCAPE CHARACTERS

An escape character allows you to include special characters in a string that would otherwise return an error. To use escape characters, add a backslash (\) before the character you want to escape:

    " \ " use a single backslash to add apostrophe's in strings 
    " \n " use to insert new lines in your strings
    " \t " use to insert tab spaces into your strings
    
Fix the code below to insert the correct escape character into the string.

In [67]:
print('Hello, what\'s up?')

Hello, what's up?

In [68]:
print("Hello, \n I wish the first hello was on its own line!")

Hello,
 I wish the first hello was on its own line!

In [69]:
print("Hello \t I wish there was a long space after the first Hello.")

Hello 	 I wish there was a long space after the first Hello.

#### FORMATTED STRINGS PT 1

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    {}  : a place holder

The placeholder is used to insert the value of a specific variable into the string. All you need to do is insert the name of the variable and whatever value is assigned to that variable will show up when you print the statement. Complete the code in the cells below to print out the proper formatted strings.

In [70]:
x = "Jasmine"

## complete the code below to print the statement "Hello, [name]!"

print(f"Hello, {x}!")

Hello, Jasmine!

In [71]:
x = "Cat"

## complete the code below to print the statement "My favorite animal is a Cat"

print(f"My favorite animal is a {x}")

My favorite animal is a Cat

In [72]:
x = "Hank"

## complete the code below to print the statement "My favorite actor is Tom Hanks"

print(f"My favorite actor is Tom {x}s")

My favorite actor is Tom Hanks

In [77]:
x = "Black"
y = "White"

## complete the code below to print the statement "Let's play chess, which color do you want to be? Black or White?"

print(f"Let's play chess, which color do you want to be? {x} or {y}?")

Let's play chess, which color do you want to be? Black or White?

In [78]:
a = "Paris"
b = "Dublin"
c = "Bristol"

## complete the code below to print the statement "The three cities I visited during my vacation were Paris, Bristol, and Dublin."

print(f"The three cities I visited during my vacation were {a}, {c}, and {b}.")

The three cities I visited during my vacation were Paris, Bristol, and Dublin.

#### FORMATTED STRINGS PT 2

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

The numeric formatting options allow you to return a number with a specific format. Typically, this includes adding a comma in the thousands place and truncating the amount of digits found after a decimal point. Complete the following questions in the cells below:

1. Print the following number with commas and 1 number after the decimal: 49792862.39231
2. Print the following number with commas and 3 number after the decimal: 3999876.009
3. Print the following number as a percentage with 2 numbers after the decimal: .03974
4. Print the following number with commas: 1000000000000000000
5. Write the code to produce this output: 7, 890.00
6. Write the code to product this output: 567.00045
7. Print the following number with commas and no numbers after the decimal: 3450000

In [101]:
num1 = 49792862.39231
print(f"num1 = {num1:,.1f}")

num2 = 3999876.009
print(f"num2 = {num2:,.3f}")

num3 = .03974
print(f"num3 = {num3:,.2%}")

num4 = 1000000000000000000
print(f"num4 = {num4:,}")

num5 = 7890
print(f"num5 = {num5:,.2f}")

num6 = 567.000451111
print(f"num6 = {num6:.5f}")

num7 = 3450000.00
print(f"num7 = {num7:,.0f}")

num1 = 49,792,862.4
num2 = 3,999,876.009
num3 = 3.97%
num4 = 1,000,000,000,000,000,000
num5 = 7,890.00
num6 = 567.00045
num7 = 3,450,000

#### INPUT FUNCTION 

The input function directly asks the user (you) for information. 

    input(tell the user what you want them to do!)
    
1. Use the input() function to find a users name
2. Use the input() function to find a users address
3. Use the input() function to find a users phone number
4. Use the input() function to find a users age
5. Using a formatted string, put all this information together and print a statement using what you learned about the user.

In [105]:
## i'll get you started...

name = input("what is your name?")
address = input("what is your address?")
phone = input("what is your phone number?")
age = input("what is your age?")
print(f"The user's name is {name}, the user's addresss is {address}, the user's phone number is {phone}, and the user's age is {age}.")

what is your name?peri
what is your address?12345 road
what is your phone number?1234567890
what is your age?23
The user's name is peri, the user's addresss is 12345 road, the user's phone number is 1234567890, and the user's age is 23.

#### DATA TYPE CONVERSION FUNCTIONS

You can convert data to various types using three built-in functions. 
* the int() function turns a value into an integer
* the float() function turns a value into a float
* the str() function turns a value into a string

Complete the code below to make the necessary changes.

In [106]:
x = "187"

### convert x into a float value

float(x)

187.0

In [107]:
y = 123.56

### convert y into a string value

str(y)

'123.56'

In [108]:
z = 99

### convert z into a float value 

float(z)

99.0

# { Module 1 Quiz }

1. Print out your favorite snack and write a comment about what you are doing in the code. 
2. Print the sum of the following values: 3, 56, 21, 11, 7, 0, 5
3. Print the remainder of the values 435 and 6
4. Create a variable called 'eye color' and store your eye color to the variable. Print a sentence describing your eye color and using the variable in the sentence. 
5. Write a code to get two integers from a user. Print out their sum.

In [109]:
print("beets") #i am printing my snack

beets

In [110]:
print(3 + 56 + 21 + 11 + 7 + 0 + 5)

103

In [111]:
print(435%6)

3

In [113]:
eyeColor = "hazel"
print(f"my eye color is {eyeColor}")

my eye color is hazel

In [114]:
int1 = int(input("give me a number"))
int2 = int(input("give me another number"))
print(int1 + int2)

give me a number3
give me another number5
8

## Module 2 Review

#### IMPORTING LIBRARIES

A library is a specific collection of python functions. You can use these functions by first importing the library into your notebook. Once you import your library, you can give it a nickname. The nickname is optional, but it makes it easier to use (or reference) the library throughout your code. 

    import [ library name ]
    
Importing a library and assigning a nickname:

    import [ library name ] as [ nickname ]
    
Import the library "random" and nickname it "rd".

In [115]:
import random as rd

#### RANDOM NUMBER GENERATOR

The random library contains a function that allows you to generate a random number. This library has two functions that are useful:

    .random() : this will generate a random number 
    .randint() : this will generate a random integer within a specific range
    
When you want to use the function, you first have to reference the name of your library (or it's nickname) and then attach the function to the end of the library name. For example:

    rd.random()
    rd.randint() 
    rd.randint(0, 10) >>> this code will generate a random number between 0 and 10 

1. Generate a random number
2. Generate a random integer
3. Generate a random integer between 1 and 100
4. Generate a random integer between -10 and 10

In [116]:
rd.random()

0.8965800517195994

In [118]:
rd.randint(0,10)

2

In [119]:
rd.randint(1,100)

92

In [120]:
rd.randint(-10,10)

1

#### LEN FUNCTION

The len() function returns the length of a given value. This includes the length of a string, the amount of characters is a sentence (which also counts white spaces), the number of items in a list, etc. Complete the code below to determine the length of the following items. Before you run the code, try to guess what the length value is going to be.

In [121]:
### what is the length of the following string: 5

len("Hello")

5

In [122]:
### what is the length of the following string: 6

len("123ABC")

6

In [123]:
### what is the length of the following string: 31

len("Hello, how are you doing today?")

31

In [124]:
### what is the length of the following string: 56

len("Hello, it's really nice to meet you! I hope you're well!")

56

In [125]:
### what is the length of the following string: 1

len(" ")

1

#### STRING METHODS

There are several functions that are used specifically with strings. The most important functions to remember are:
    
<b> Change the Case </b>
    
    .title() >> change a string to title case
    .upper() >> change a string to upper case
    .lower() >> change a string to lower case
    
<b> Remove White Spaces from a String </b>

    .strip() >> strip white spaces from both ends of a string
    .rstrip() >> remove white spaces from the right-side of a string
    .lstrip() >> remove white spaces from the left-side of a string
    
<b> Replace a value in a String with another value</b>

    .replace() >> replace a specific character with another character
    .replace([what you want to replace], [what to replace it with])
    
Complete the code below to practice the above string methods.

In [126]:
name = "gEOrGe washINGtoN"
name.title()
## change the above string to title case

'George Washington'

In [127]:
yelling = "HELLO WHAT ARE YOU DOING!"
yelling.lower()
## change the above string to lowercase

'hello what are you doing!'

In [128]:
book = "the great gatsby"
book.title()
## change the above string to title case

'The Great Gatsby'

In [129]:
city = "nEW york"
city.upper()
## change the above string to uppercase

'NEW YORK'

In [130]:
quote = "        Not all those who wander are lost.         "
quote.strip()
## strip the above string of white space on each side

'Not all those who wander are lost.'

In [131]:
quote = "        Not all those who wander are lost.         "
quote.lstrip()
## strip the above string of white spaces on the left side

'Not all those who wander are lost.         '

In [132]:
quote = "        Not all those who wander are lost.         "
quote.rstrip()
## strip the above string of white spaces on the right side

'        Not all those who wander are lost.'

In [134]:
speech = "4 score and seven years ago..."
speech.replace("4", "four")
## in the above string, replace the value of "4" with the word "four"

'four score and seven years ago...'

In [135]:
speech = "Four score and seven years ago..."
speech.replace("seven", "7")
## in the above string, replace the word of "seven" with the value "7"

'Four score and 7 years ago...'

In [136]:
speech = "Four score and seven years ago..."
speech.replace("...", ".")
## in the above string, replace the "..." with a single period

'Four score and seven years ago.'

#### INDEXING A STRING

Strings are ordered sequences of characters and each character has a number associated with it. 

Indexing allows you to access individual characters in a string (or other ordered data types like a list) directly by using a numeric value, that numeric value is associated with a character/position in the string. 

In python, indexing is zero-based, meaning, the first character in the string has an index of 0, followed by 1, then 2, etc. See below for an example of how index values are associated with a string:

    H[0]e[1]l[2]l[3]o[4]![5]
    
index value of 0 returns the character "H"
index value of 1 returns the character "e"
index value of 2 returns the character "l"
index value of 3 returns the character "l"
index value of 4 returns the character "o"
index value of 5 returns the character "!"

Complete the code below to practice indexing a specific string.

In [137]:
## run this cell to define the variable 'words'
## determine the length (how many characters) of the passage 

words = "To be, or not to be, that is the question..."

len(words)

44

In [138]:
## index the variable 'words'
# what character is in position 0?

words[0]

'T'

In [139]:
## index the variable 'words'
# what character is in position 15?
words[15]

'o'

In [140]:
## index the variable 'words'
# what character is in position 9?
words[9]

' '

In [141]:
## index the variable 'words'
# what character is in position 39?
words[39]

'o'

#### CUSTOMIZED FUNCTIONS 

Python allows you to create your own unique functions. This gives you a lot of flexibility on the tasks you can automate within your code. You can create a function to do practically anything -- print a single value, add two numbers together, remove white spaces from a string, etc. 

* A custom function begins with the keyword <b>def</b> and followed by a function name (of your choice). 
* The function may take argument(s) as input within the opening and closing parentheses, just after the function name and following by a colon. 
* After defining the function name and argument(s) a block of program statement(s) start on the next line and these statement(s) must be indented. Please note, adding arguments within the parentheses is optional!

When you are defining a function, follow these steps:

     def function_name(argument1, argument2, ...) :
          statement_1
          statement_2

Complete the code below to define a series of functions.

In [ ]:
# EXAMPLE #
## define a function that takes one number and prints the number

def print_num(num):
    print(num)

## call the function
## this function takes one argument, so you have to give the function info

print_num(10)

In [ ]:
# EXAMPLE #
## define a function that generates one number and prints the number

def print_num_b():
    num = int(input("Enter a number: "))
    print(num)

## call the function
## this function takes no arguments, therefore, we can call the function without giving information first

print_num_b()

In [142]:
## define a function that takes two numbers and adds them together

def print_nums(num1, num2):
    print(num1 + num2)

## call the function below
## this function takes two arguments, so you have to give the function info

print_nums(10, 20)

30

In [143]:
## define a function that generates two numbers and adds them together

def print_nums_b():
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)

## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

print_nums_b()

Enter a number: 10
Enter another number: 20
30

In [144]:
## define a function that takes a string and changes the case to uppercase

def uppercased(string):
    string = string.upper()
    print(string)
    
## call the function below
## this function takes one argument, so you have to give the function info

uppercased("data")

DATA

In [218]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi(x, y):
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter a number: "))
    print(x * y)
    
## call the function below
## this function takes two arguments, so you have to give the function info

multi(x, y)

Enter a number: 10
Enter a number: 20
20000

In [152]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi_b():
    x = int(input("Enter a number: ")) 
    y = int(input("Enter another number: "))
    print(x * y)

## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

multi_b()

Enter a number: 10
Enter another number: 20
200

# { Module 2 Quiz }

1. Convert "890" to an integer data type
2. Get two numbers from a user. Use these two numbers as the starting and ending number when generating a random integer. Run the code to produce a random integer within this range.
3. Remove the whitespaces from the ends of the following string: "   What is your name   ?"
4. After you remove the whitespaces from the above string, index the string to find the character in position 3.
5. Define a function that asks a user for three numbers. Add the first two numbers together. Then, multiply the sum of the first two numbers with the third number. After you define the function, use it!

In [153]:
int(890)

890

In [154]:
num1 = int(input("give a number"))
num2 = int(input("give a number"))
rd.randint(num1, num2)

give a number1
give a number10

5

In [158]:
x = "What is your name ?"
x.replace(" ", "")

'Whatisyourname?'

In [159]:
x[3]

't'

In [160]:
def sum(x, y, z):
    x = int(input("Enter a number: ")) 
    y = int(input("Enter another number: "))
    z = int(input("Enter another number: "))
    sum1 = (x + y) * z
    print(sum1)

sum(x, y, z)

Enter a number: 1
Enter another number: 2
Enter another number: 3
9

## Module 3 Review

#### COMPARISON AND BOOLEAN OPERATORS

Comparison operators compare two values to each other and return a result based on that comparison (either true or false). The comparison operators you have available are as follows:

    == : equal to
    != : not equal to
    >  : greater than
    <  : less than
    >= : greater than or equal to
    <= : less than or equal to
    
For example, x = 10 and y = 14, see below for the following comparison results:

       x == y >> FALSE
       x != y >> TRUE
       x > y >> FALSE
       x < y >> TRUE
       x >= y >> FALSE
       x <= y >> TRUE
    
1. Create 5 conditions that produce a FALSE result
2. Create 5 conditions that produce a TRUE result

In [163]:
x = 10
y = 20
x + y < 1

False

In [164]:
x + y == 40

False

In [165]:
x != x

False

In [166]:

x >= 30

False

In [167]:
x > y

False

In [168]:
x + y > 1

True

In [169]:
y > x

True

In [170]:
x + y == 30

True

In [171]:
y > 2

True

In [172]:
x < 40

True

#### CONDITIONAL STATEMENTS

Conditional statements check a statement for truth and executes a specific task depending on if the statement is true or false. Conditional statements include:

    IF >> if 
    ELSE >> else
    ELIF >> else if

#### IF STATEMENTS

The IF statement checks a statement for truth, if the statement is true a specific task will be executed

1. Run the code in the first example
2. Create your own IF statement that prints a number if it is higher than 100
3. Create an IF statement that adds 10 to a number if it is higher than 100; print the sum of the two numbers.

In [184]:
## EXAMPLE

age = 200

if age > 18:
    print("You are older than 18.")

You are older than 18.

In [185]:
if age > 100:
    print(age)

200

In [186]:
if age > 100:
    age2 = age + 10
    print (age + age2)

410

#### IF/ELSE STATEMENTS

The IF/ELSE statements (when used together), checks a statement for truth - if the statement is true, the task underneath the IF statement will execute. If the statement if false, the task underneath the ELSE statement will execute.

1. Run the code in the first example
2. Create your own IF/ELSE statement that prints a number if it is higher than 100; if it is lower than 100, print "Low Number". 
3. Create an IF/ELSE statement that adds 10 to a number if it is higher than 100; if it isn't higher than 100, add 100 to the number. Print the sum of the two numbers.

In [189]:
## EXAMPLE

age = 8

if age > 18:
    print("You are older than 18.")
else:
    print("You are younger than 18.")

You are younger than 18.

In [190]:
if age > 100:
    print(age)
else:
    print("Low Number")

Low Number

In [191]:
if age > 100:
    age2 = age + 10
    print(age2)
else:
    age3 = age + 100
    print(age + age3)

116

#### ELIF STATEMENTS

The ELIF statement is short for "ELSE IF" and is a combination of the above statements. ELIF checks another statement for truth (after the initial IF statement) -- if the statement if true, the tasks underneath the ELIF statement will execute. 

1. Run the code in the first example
2. Create your own IF/ELIF/ELSE statement that prints a number if it is higher than 100; if the value is equal to 100 - print "100". If both statements are false, print "less than 100").
3. Create an IF/ELIF/ELSE statement that adds 10 to a number if it is higher than 100; if the number is greater than 50 -- add 20 to the number. If none of the above are true, add 100 to the number. Print the sum of the two numbers.

In [192]:
## EXAMPLE

age = 18

if age > 18:
    print("You are older than 18.")
elif age == 18:
    print("You ARE currently 18!")
else:
    print("You are younger than 18.")

You ARE currently 18!

In [194]:
if age > 100:
    print(age)
elif age == 100:
    print("100")
else:
    print("less than 100")

less than 100

In [195]:
if age > 100:
    print(age + 10)
elif age > 50:
    age1 = age + 20
    print(age1)
else:
    age2 = age + 100
    print(age2)

118

#### LISTS

Lists are a unique data type within Python. Lists are ordered and changeable -- which means you can index a list and you can add/remove values from a list. A list is a collection of values all saved together into a single variable. Lists can contain multiple data types within a single list. All values within a list are separated by a comma. Lists are defined by square brackets. 

    list_name = [value1, value2, value3...]
    
Complete the code below to define a series of lists.

In [197]:
## add two values to the following list of flowers
# print the list

flowers = ["Rose", "Lily", "Poppy", ]
flowers.append("periwinkle")
flowers.append("potato")
print(flowers)

['Rose', 'Lily', 'Poppy', 'periwinkle', 'potato']

In [200]:
## fix the code below to define a list of names
# print the list

names = ["Jack", "Max", "Leo", "Harper", "Sam"]
print(names)

['Jack', 'Max', 'Leo', 'Harper', 'Sam']

In [199]:
## use the space below to create a blank list
# print the list to make sure its blank

blank = []
print(blank)

[]

#### LIST INDEXING AND SLICING

Indexing a list works similarly to indexing a list - you are specifically asking to see the value within a specific location. A list index is still zero-based. See below for a list of colors. Next to each color is the index value.

    colors = [red-0, yellow-1, blue-2]

To index, you will state the name of your list and then within square brackets, specify the location you want to see. 

    colors[0] >> "red-0"
    colors[1] >> "yellow-1"
    colors[2] >> "blue-2"
    
Slicing a list returns a specific segment of the list instead of just returning a specific value in a specific index position. Slicing will return all the values of a list from a starting index location up to (<b>but not including</b>) an ending index location. Slicing uses square brackets and follows the pattern below:

    list_name[starting point : ending point]
    
Slicing will literally give you a slice of the list. See below for an example using the colors list. 

    colors[0:2] >> red-0, yellow-1
    colors[0:3] >> red-0, yellow-1, blue-2
    
1. Create a list of objects you find around your house. Have at least 6 values in the list. Print the list. 
2. What value is at position 4 in your list?
3. What value is at position 0 in your list?
4. Slice your list so you return all values except for the last two.

In [201]:
house = ["bed", "desk","chair", "lamp", "cat", "dog"]
print(house)

['bed', 'desk', 'chair', 'lamp', 'cat', 'dog']

In [202]:
house[4]

'cat'

In [203]:
house[0]

'bed'

In [205]:
house[4:6]

['cat', 'dog']

#### ADDING VALUES TO A LIST

Lists are changeable, which means you can add values to a list after you have defined the list initially. 

The .append() function will add a single value to the end of your list. This function can only add one value at a time, and it will always attach to the end. To use the function, see an example below:

    list_name.append( new_item_to_add )
    
    colors.append("green-3")
    
The .insert() function will add a single value to a specific index-position within your list. Unlike the append function, this means the item your adding won't automatically be attached to the end. To use the function, see an example below:

    list_name.insert( index-position, new_item_to_add )
    
    colors.insert(0, "green-3")

The .extend() function allows you to add multiple values to a list at one time. This is the function to use if you don't want to add values one by one. To use the function, you first have to create a separate list of the values you want to add. Then, you will use the .extend() function to add all the values on the list onto the end of the existing list. See below for an example:

    new_list = ["new_value1", "new_value2", "new_value3"...]
    list_name.extend( new_list )
    
    
    new_colors = ["green-3", "purple-4"]
    colors.extend(new_colors)
    
1. Create a list of shapes below. This list should have at least 3 values. Print the list. 
2. Use the append function to add a shape to your list. Print the list.
3. Use the insert function to add a shape to your list. This shape should be inserted in index position 2. Print the list.
4. Use the extend function to add 3 additional shapes to your list. Print the list.

In [206]:
shapes = ["triangle", "circle", "rhombus"]
print(shapes)

['triangle', 'circle', 'rhombus']

In [207]:
shapes.append("oval")
print(shapes)

['triangle', 'circle', 'rhombus', 'oval']

In [208]:
shapes.insert(2, "trapezoid")
print(shapes)

['triangle', 'circle', 'trapezoid', 'rhombus', 'oval']

In [209]:
shapes2 = ["diamond", "square"]
shapes.extend(shapes2)
print(shapes)

['triangle', 'circle', 'trapezoid', 'rhombus', 'oval', 'diamond', 'square']

# { Module 3 Quiz }

1. Create 3 conditions that produce a false result. Create 3 conditions that produce a true result.
2. Ask the user for a specific color and store the value into a variable. If the color is Blue, print "Blue is a calming color". If the color is Red, print "Red is a fiery color". Otherwise, print "All colors are beautiful".
3. Create a list of 5 fictional characters. Print the list. 
4. Ask the user for a specific number between 1 and 10. If the number is less than 3, print 'low value'. If the number is greater than 7, print 'high number'. Otherwise, print 'thank you'.
5. Create a function that determines if a student passed or failed a test. Ask the user for their test score, if the value is below 70, print 'You failed'. If the value is 70 or above, print 'You passed'. If the value is above 100 or below 0, print 'Please enter a valid number'.

In [210]:
x = 100
y = 200
x + y > 1000

False

In [211]:
x > y

False

In [212]:
y < 1

False

In [213]:
x + y == 300

True

In [214]:
x != y

True

In [215]:
x >= 100

True

## Advanced Review

Complete the exercises below. These exercises cover topics from all the modules covered in the class thus far, not just the items reviewed in this notebook. Each exercise should be completed in its own cell (or multiple cells). 

*****************************

1.	Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.
2.	Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.
3.	Take a list and write a program that prints out all the elements of the list that are less than 5. BONUS: Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.
4.	Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. BONUS: Keep the game going until the user types “exit”
5.	Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and makes a new list of only the first and last elements of the given list.
6.	Write a password generator in Python. Be creative with how you generate passwords - strong passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. The passwords should be random, generating a new password every time the user asks for a new password.

In [238]:
def hundred(age):
    age = int(input("what is your age?"))
    time = 100 - age
    print(f"you will turn 100 in {time} years")
hundred(age)

what is your age?7
you will turn 100 in 93 years

In [239]:
num = int(input("enter a number?"))
if num%2 == 0:
          print("even")
else:
          print("odd")

enter a number?100
even

In [221]:
list = [0, 1, 5, 10, 15]

for x in list:
    if x <= 5:
        print(x)
    else:
        print()

0
1
5

In [241]:
#num = rd.randint(0,9)
guess = int(input("guess the number"))
for num in range(0, 9):
    if guess > num:
        print("too high")
    elif guess == num:
        print("yes!")
        break
    else:
        print("too low")

guess the number8
too high
too high
too high
too high
too high
too high
too high
too high
yes!

In [242]:
list = [1, 2, 3, 4, 5]
y = list[0]
z = list[-1]
print(y,z)

1 5

In [253]:
#give = input("give me a password!")
password = []
alphabet = [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,x,y,z]
#for x in password:
password.append(rd.randint(0,9)) 
password.append(rd.choice(alphabet))
password.append(rd.randint(0,9))
#password[3] = alphabet[rd.randint(0,25)]
#password[4] = alphabet[rd.randint(0,25)].upper()
#password[5] = rd.randint(0,9)
#password[6] = alphabet[rd.randint(0,25)]
#password[7] = alphabet[rd.randint(0,25)].upper()

In [254]:
print(password)

[2, 5, 1]